<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>{{title}}</h1>
      <hr>
      <a [routerLink]="['']" [queryParams]="{testparm:200}" [fragment]="'page section1'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Component A</a> |
      <input type="text" #id (input)="0">
      <a [routerLink]="['compb', id.value]" routerLinkActive="active">Component B</a> |
      <a [routerLink]="['compb/1/edit']" routerLinkActive="active">Edit Component B</a> |
      <a [routerLink]="['compb/1/detail']" routerLinkActive="active">Detail Component B</a>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


